alias renewdhcp="echo 'add State:/Network/Interface/en0/RefreshConfiguration temporary' | sudo scutil"

alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

alias adbscreenshot="adb shell screencap -p | perl -pe 's/\x0D\x0A/\x0A/g' > screen.png"


# https://remysharp.com/2018/08/23/cli-improved

alias cat='bat'
alias ping='prettyping --nolegend'
alias top="htop" # alias top and fix high sierra bug
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"

# requires brew info grep
alias grep="ggrep  --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}"

function tree-git-ignore {
    # tree respecting gitignore

    local ignored=$(git ls-files -ci --others --directory --exclude-standard)
    local ignored_filter=$(echo "$ignored" \
                    | egrep -v "^#.*$|^[[:space:]]*$" \
                    | sed 's~^/~~' \
                    | sed 's~/$~~' \
                    | tr "\\n" "|")
    tree --prune -I ".git|${ignored_filter: : -1}" "$@"
}

alias run="bun run"
alias start="bun run dev || bun run start"
alias dev=start
# run dev or run start

alias npx="bunx"
alias diff="diff --color=always"
#alias diff='/usr/local/bin/diff --color -r -c'

alias gitclean='git branch --merged | egrep -v "(^\*|master|main|dev)" | xargs git branch -d'

alias ll='eza --long --git -a'
alias l='eza --long --git'

function adbgrep() {
    local pid=$(adb shell ps | grep "$@" | awk '{print $2;}')
    echo "PID found: $pid"
    if [ -z "$pid" ]; then
        echo "Error: no pid found.\n\nOthers found that start with 'com' (not samsung, google, android, etc.):\n---"
        adb shell ps | grep com | grep -v 'com.samsung\|com.google\|com.android\|android.hardware'
        return 1
    fi
    adb logcat | grep -F " $pid "
}

# http://una.github.io/keyboard-ninja-slides/#/5/8
alias git-pretty="git log --graph --oneline --all --decorate"

# from https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/vscode/vscode.plugin.zsh

VSCODE=code

alias pn=pnpm

# function p: Automatically detects and uses a Node.js package manager
# Checks for lock files to determine whether to use pnpm, yarn, bun or npm (default)
# Searches up to 2 parent directories for lock files.
# TODO: either check that works only in turbo pack monorepos (apps/ folder) and check it doesn't go up to the root if it's new repo or if there's no lock file.
# Usage: p <command>
# Example: p install - Will use pnpm/yarn/bun/npm install depending on lock file
p(){
    declare pm="npm"
    declare dir="."

    # Check current and up to 2 parent directories
    for i in {1..3}; do
        if [ -f "$dir/pnpm-lock.yaml" ]; then
            pm="pnpm"
            break
        elif [ -f "$dir/yarn.lock" ]; then
            pm="yarn"
            break
        elif [ -f "$dir/bun.lockb" ]; then
            pm="bun"
            break
        fi
        dir="$dir/.."
    done

    "$pm" "$@"
}
